################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CurrencyRate.sln
/CurrencyRate.sln
/CurrencyRate.sln
